@media only screen and (max-width: 5000px){
    .mobile-menu span{
        display: none;
    }
}
@media only screen and (max-width: 1024px)
{
    .mobile-menu span{
        display: none;
    }
    .row{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
      .logo{
        margin-left: 1.5rem;
    }
    .team-section h3{
        font-size: 2rem;
    }
      .team-section p{
        font-size: 1.2rem;
    }
    .testimonial .boxer{
        padding-left: 0rem;
    }
}
@media only screen and (max-width: 800px)
{
    .mobile-menu span{
        display: block;
    }
    .main-nav{
        display: none;
    }
    .service-section h3{
        font-size: 1.5rem;
    }
    .service-section p{
        font-size: 1.2rem;
    }
    .service-icon{
        height: 8rem;
        margin: 2rem 0 ;
    }
    .team-member{
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 15rem;
        height: 15rem;
    }
    .member-name h3{
        font-size: 1.5rem;
    }
    .member-name .role{
        font-size: 1.2rem;
    }
    .social-link ul li a i::before{
        background: #bdd1df;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        display: inline-block;
        font-size: 1.5rem;
        padding: 0.8rem;
        transition: 0.5s;
    }
    .portfolio-img{
        width: 75%;
        height: 15rem;
    }
    .client-img{
        width: 10rem;
        display: block;
        text-align: center;
        width: 100%;
    }
    .client-img img{
        height: 8rem;
        border-radius: 50%;
    }
    .client-review{
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }
    .client-review h3{
        text-align: center;
        display: block;
        margin-top: 3rem;
        margin-bottom: 0;
        color: #fff;
    }
    .client-review .role{
        margin-top: .7rem;
        width: 100%;
        color: #ffdd99;
        display: block;
        margin-left: 1.3rem;
    }
}
@media only screen and (max-width: 768px){
    .hero-text-box{
        width: 90%;
    }
    .member-name .box p{
        font-size: 1.2rem;
        height: 10rem;
    }
    .social-link ul li a i::before{
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        display: inline-block;
        font-size: 1.4rem;
        padding: 0.7rem;
        transition: 0.5s;
    }
}
@media only screen and (max-width: 480px)
{
    .logo{
        height: 2.5rem;
        margin-top:  1.5rem;
    }
    .mobile-menu{
        font-size: 2.5rem;
        float: right;
        margin-top: 1.5rem;
        display: block;
    }
    .hero-text-box h1{
        width: 100%;
        font-size: 2rem;
    }
    .btn-hero:link,
    .btn-hero:visited{
    margin-top: 6.5rem;
    }
    .service-section h2{
        font-size: 2.5rem;
    }
    .service-section .description{
        width: 100%;
        margin: 0;
        line-height: 2rem;
    }
    .service-section h3{
        margin-bottom: 1.5rem;
        font-size: 2.2rem;
    }
    .service-section p{
        width: 100%;
        
        margin: 0;
    }
    .team-section h2{
        font-size: 2rem;
    }
    .team-section .description{
        width: 80%;
        height: 2.5rem;
        text-align: center;
        display: block;
        margin: 1rem auto;
    }
    .team-section .box p{
        height: 4rem;
        width: 90%;
        margin: 2rem 0;
        text-align: center;
    }
    .skill-section .description{
        width: 90%;
        text-align: center;
        display: block;
        margin: 1rem auto;
    }
    .portfolio-section .description{
        width: 90%;
        text-align: center;
        display: block;
        margin: 1rem auto;
    }
    .contact-section .description{
        width: 90%;
        margin: 1rem auto;
    }
    .btn:link,
    .btn:visited,
    .btn{
        padding: 1.5rem 3rem;
        display: inline-block;
        font-size: 1rem;
}
    .footer-section{
        padding: 1.5rem 0;
    }
    .footer-section li{
        display: inline-block;
        margin: 0 1rem;
       text-transform: capitalize;
    }
    .footer-section li a{
        font-size: 1.2rem;
    }
}